<a href="https://colab.research.google.com/github/seoyeon2022/Java/blob/main/%EC%88%98%ED%95%99%EB%B0%B1%EC%88%98%EB%AF%BC0502.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간고사 문제풀이

In [ ]:
mydata = []
for i in range(5):
    fruit = input('과일입력:')
    mydata.append(fruit)
print('mydata =',mydata)

과일입력:사과
과일입력:사과
과일입력:포도
과일입력:딸기
과일입력:레몬
mydata = ['사과', '사과', '포도', '딸기', '레몬']

In [ ]:
mydata = []
for i in range(5):
    fruit = input('과일입력:')
    mydata.append(fruit)
print('mydata =',mydata)

def f_counts(data):
    counts = {}            #공백 딕셔너리
    for fruit in data:            fruit --> ['사과', '사과', '포도', '레몬', '딸기']
        if fruit not in counts:
            counts[fruit] = 0              #counts -->{'사과':0},           {'포도':0}
        counts[fruit] += 1                 #counnts
    return counts

result = f_counts(mydata)
print(f'입력한 과일의 종류의 개수: {result}')

In [ ]:
num = int(input('두 자리수 입력:')) #num-->23
for i in range(1,num+1):            #i -->1,2,3,,,,7,,,14,,,21,22,23
    if i%7!=0:
        continue
    print(f'7의 배수:',i)          #               7,,,14,,,21

hap = 0
while num>0:             #num --> 23>0(True), 2>0(True), 0>0(False)
    number = num%10      #number --> 23%10,   2%10
    hap += number        #hap --> 0+3,        3+2
    num =num//10         #num --> 23//10      2//10
print(f'입력한 두 자리수의 합은 {hap}')

두 자리수 입력:23
7의 배수: 7
7의 배수: 14
7의 배수: 21
입력한 두 자리수의 합은 5

In [ ]:
def getAddr(data_list):
    result = []
    for x in data_list:      #['Seoul', 'Incheon', 'Jeju']
        result.append(x[:3])
    return result

getAddr(['Seoul','Incheon,','Jeju'])

['Seo', 'Inc', 'Jej']

In [ ]:
a = [3,5,7]
b = a
b[0] = b[0] -2
a[1] = 10
print('a=',a, 'b=',b)
print(a is b)

a= [1, 10, 7] b= [1, 10, 7]
True

In [ ]:
num = 0
i = 1               #i__>1<8,2<8,3<8
    if i %% 3 == 0:              3%3==0
        break
    i += 1          #i-->2,  3
    num += i        #num-->2, 2+3
print(num)

In [ ]:
def asterisk_test(a,b,*args):
    print(args)
    return b*sum(args) #2*12

print(asterisk_test(1,2,3,4,5))

(3, 4, 5)
24

In [ ]:
def asterisk_test(a,b,*args):
    print(args)
    return b*max(args) #2*5

print(asterisk_test(1,2,3,4,5))

(3, 4, 5)
10

In [ ]:
Mydict = {'1':1, '2:':2}
Copy = Mydict
mydict['1'] = 3
print(Copy)

In [ ]:
Mydict = {'1':1, '2:':2}
Copy = Mydict
Mydict['1'] = 3
result = Mydict['1']+Copy['1']
print(result)

6

# 8장

In [ ]:
#join()
colors = ['red','blue','green']
result = '-'.join(colors)
print(result)
print(type(result))

red-blue-green
<class 'str'>

# split()함수: 특정값을 기준으로 리스트 형식으로 반환

In [ ]:
#split()
text = 'red-blue-green'
print(text.split('-'))

['red', 'blue', 'green']

In [ ]:
tt = 'python is fun'
print(tt.split()) #공백을 기준으로 분리함

['python', 'is', 'fun']

In [ ]:
name = 'hufs.ac.kr'
a =name.split('.')
print(a, type(a))

['hufs', 'ac', 'kr'] <class 'list'>

In [ ]:
name = 'hufs.ac.kr'
a, b, c =name.split('.') #언패킹
print(a, b, c)

hufs ac kr

In [ ]:
name = 'hufs.ac.kr'
a, b, c =name.split('.') #언패킹
print(a, type(a))
print(b, type(b))
print(c, type(c))

hufs <class 'str'>
ac <class 'str'>
kr <class 'str'>

# 리스트 함축포현

In [ ]:
result = []
for i in range(1,11):
    result.append(i)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#필터링
result = [i for i in range(1,11)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
result = [i for i in range(1,11) if i%2==0]
print(result)

[2, 4, 6, 8, 10]

In [ ]:
result = []
for i in range(1,10):
    if i%2 ==0:
        result.append(i)
print(result) #이걸 위에 걸로 바꾼거

[2, 4, 6, 8]

In [ ]:
result = []
for i in range(1,11):
    if i%2==0:
        result.append(i)
    else:

In [ ]:
result = [i if i%2==0 else '홀수' for i in range(1,11)]
print(result)

['홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수', 10]

In [ ]:
result = [i if i%2!=0 else '짝수' for i in range(1,11)]
print(result)

[1, '짝수', 3, '짝수', 5, '짝수', 7, '짝수', 9, '짝수']

In [ ]:
result = [i for i in range(1,11) if i%2!=0]
print(result)

[1, 3, 5, 7, 9]

In [ ]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [ ]:
for i in 'Hello':
    for j in 'python':
        print(i+j)

Hp
Hy
Ht
Hh
Ho
Hn
ep
ey
et
eh
eo
en
lp
ly
lt
lh
lo
ln
lp
ly
lt
lh
lo
ln
op
oy
ot
oh
oo
on

In [ ]:
a = '123'
b = '456'
result = [i+j for i in a for j in b]
print(result)
print(len(result))

['14', '15', '16', '24', '25', '26', '34', '35', '36']
9

In [ ]:
a = 'Hello'
b = 'python'
result = [i+j for i in a for j in b]
print(result)
print(len(result))

['Hp', 'Hy', 'Ht', 'Hh', 'Ho', 'Hn', 'ep', 'ey', 'et', 'eh', 'eo', 'en', 'lp', 'ly', 'lt', 'lh', 'lo', 'ln', 'lp', 'ly', 'lt', 'lh', 'lo', 'ln', 'op', 'oy', 'ot', 'oh', 'oo', 'on']
30

In [ ]:
text = 'python is fun'
print(text.upper())
print(text.lower())
print(len(text))

PYTHON IS FUN
python is fun
13

In [ ]:
tt = 'python is fun'
t = tt.split()       #문자열을 공백을 기준으로 리스트로 담아놈
print(t)

['python', 'is', 'fun']

In [ ]:
tt = 'python is fun'
t = tt.split()
print(t)                             #t --> ['python', 'is', 'fun']
s = [[w.upper(),w.lower(),len(w)] for w in t]
print(s)

['python', 'is', 'fun']
[['PYTHON', 'python', 6], ['IS', 'is', 2], ['FUN', 'fun', 3]]

In [ ]:
# s --> [['PYTHON', 'python', 6], ['IS', 'is', 2], ['FUN', 'fun', 3]]
for i in s:
    print(i)

['PYTHON', 'python', 6]
['IS', 'is', 2]
['FUN', 'fun', 3]

In [ ]:
song = '''
Yesterday all my troubles
seemed so far away.
Now it looks
as though they're here to stay.
Oh, I believe in yesterday.



Suddenly I'm not half
the man I used to be.
There's a shadow hanging over me.
Oh, yesterday came suddenly.



Why she had to go,
I don't know,
she wouldn't say.
I said something wrong,
now I long for yesterday.



Yesterday love was
such an easy game to play.
Now I need a place to hide away.
Oh, I believe in yesterday.



Why she had to go,
I don't know,
she wouldn't say.
I said something wrong,
now I long for yesterday.



Yesterday love was
such an easy game to play.
Now I need a place to hide away.
Oh, I believe in yesterday.



Mm mm mm mm mm mm mm
'''

t= song.split()
print(t)

['Yesterday', 'all', 'my', 'troubles', 'seemed', 'so', 'far', 'away.', 'Now', 'it', 'looks', 'as', 'though', "they're", 'here', 'to', 'stay.', 'Oh,', 'I', 'believe', 'in', 'yesterday.', 'Suddenly', "I'm", 'not', 'half', 'the', 'man', 'I', 'used', 'to', 'be.', "There's", 'a', 'shadow', 'hanging', 'over', 'me.', 'Oh,', 'yesterday', 'came', 'suddenly.', 'Why', 'she', 'had', 'to', 'go,', 'I', "don't", 'know,', 'she', "wouldn't", 'say.', 'I', 'said', 'something', 'wrong,', 'now', 'I', 'long', 'for', 'yesterday.', 'Yesterday', 'love', 'was', 'such', 'an', 'easy', 'game', 'to', 'play.', 'Now', 'I', 'need', 'a', 'place', 'to', 'hide', 'away.', 'Oh,', 'I', 'believe', 'in', 'yesterday.', 'Why', 'she', 'had', 'to', 'go,', 'I', "don't", 'know,', 'she', "wouldn't", 'say.', 'I', 'said', 'something', 'wrong,', 'now', 'I', 'long', 'for', 'yesterday.', 'Yesterday', 'love', 'was', 'such', 'an', 'easy', 'game', 'to', 'play.', 'Now', 'I', 'need', 'a', 'place', 'to', 'hide', 'away.', 'Oh,', 'I', 'believe', 'in', 'yesterday.', 'Mm', 'mm', 'mm', 'mm', 'mm', 'mm', 'mm']

In [ ]:
                                 #t--> ['Yesterday', 'all', 'my', 'troubles', 'seemed', 'so', 'far', 'away.', 'Now', 'it', 'looks', 'as', 'though',
s = [[w.upper(),w.lower(),len(w)] for w in t]
print(s)

[['YESTERDAY', 'yesterday', 9], ['ALL', 'all', 3], ['MY', 'my', 2], ['TROUBLES', 'troubles', 8], ['SEEMED', 'seemed', 6], ['SO', 'so', 2], ['FAR', 'far', 3], ['AWAY.', 'away.', 5], ['NOW', 'now', 3], ['IT', 'it', 2], ['LOOKS', 'looks', 5], ['AS', 'as', 2], ['THOUGH', 'though', 6], ["THEY'RE", "they're", 7], ['HERE', 'here', 4], ['TO', 'to', 2], ['STAY.', 'stay.', 5], ['OH,', 'oh,', 3], ['I', 'i', 1], ['BELIEVE', 'believe', 7], ['IN', 'in', 2], ['YESTERDAY.', 'yesterday.', 10], ['SUDDENLY', 'suddenly', 8], ["I'M", "i'm", 3], ['NOT', 'not', 3], ['HALF', 'half', 4], ['THE', 'the', 3], ['MAN', 'man', 3], ['I', 'i', 1], ['USED', 'used', 4], ['TO', 'to', 2], ['BE.', 'be.', 3], ["THERE'S", "there's", 7], ['A', 'a', 1], ['SHADOW', 'shadow', 6], ['HANGING', 'hanging', 7], ['OVER', 'over', 4], ['ME.', 'me.', 3], ['OH,', 'oh,', 3], ['YESTERDAY', 'yesterday', 9], ['CAME', 'came', 4], ['SUDDENLY.', 'suddenly.', 9], ['WHY', 'why', 3], ['SHE', 'she', 3], ['HAD', 'had', 3], ['TO', 'to', 2], ['GO,', 'go,', 3], ['I', 'i', 1], ["DON'T", "don't", 5], ['KNOW,', 'know,', 5], ['SHE', 'she', 3], ["WOULDN'T", "wouldn't", 8], ['SAY.', 'say.', 4], ['I', 'i', 1], ['SAID', 'said', 4], ['SOMETHING', 'something', 9], ['WRONG,', 'wrong,', 6], ['NOW', 'now', 3], ['I', 'i', 1], ['LONG', 'long', 4], ['FOR', 'for', 3], ['YESTERDAY.', 'yesterday.', 10], ['YESTERDAY', 'yesterday', 9], ['LOVE', 'love', 4], ['WAS', 'was', 3], ['SUCH', 'such', 4], ['AN', 'an', 2], ['EASY', 'easy', 4], ['GAME', 'game', 4], ['TO', 'to', 2], ['PLAY.', 'play.', 5], ['NOW', 'now', 3], ['I', 'i', 1], ['NEED', 'need', 4], ['A', 'a', 1], ['PLACE', 'place', 5], ['TO', 'to', 2], ['HIDE', 'hide', 4], ['AWAY.', 'away.', 5], ['OH,', 'oh,', 3], ['I', 'i', 1], ['BELIEVE', 'believe', 7], ['IN', 'in', 2], ['YESTERDAY.', 'yesterday.', 10], ['WHY', 'why', 3], ['SHE', 'she', 3], ['HAD', 'had', 3], ['TO', 'to', 2], ['GO,', 'go,', 3], ['I', 'i', 1], ["DON'T", "don't", 5], ['KNOW,', 'know,', 5], ['SHE', 'she', 3], ["WOULDN'T", "wouldn't", 8], ['SAY.', 'say.', 4], ['I', 'i', 1], ['SAID', 'said', 4], ['SOMETHING', 'something', 9], ['WRONG,', 'wrong,', 6], ['NOW', 'now', 3], ['I', 'i', 1], ['LONG', 'long', 4], ['FOR', 'for', 3], ['YESTERDAY.', 'yesterday.', 10], ['YESTERDAY', 'yesterday', 9], ['LOVE', 'love', 4], ['WAS', 'was', 3], ['SUCH', 'such', 4], ['AN', 'an', 2], ['EASY', 'easy', 4], ['GAME', 'game', 4], ['TO', 'to', 2], ['PLAY.', 'play.', 5], ['NOW', 'now', 3], ['I', 'i', 1], ['NEED', 'need', 4], ['A', 'a', 1], ['PLACE', 'place', 5], ['TO', 'to', 2], ['HIDE', 'hide', 4], ['AWAY.', 'away.', 5], ['OH,', 'oh,', 3], ['I', 'i', 1], ['BELIEVE', 'believe', 7], ['IN', 'in', 2], ['YESTERDAY.', 'yesterday.', 10], ['MM', 'mm', 2], ['MM', 'mm', 2], ['MM', 'mm', 2], ['MM', 'mm', 2], ['MM', 'mm', 2], ['MM', 'mm', 2], ['MM', 'mm', 2]]

In [ ]:
d = {i:v for i,v in enumerate(s)}
print(d)

{0: ['YESTERDAY', 'yesterday', 9], 1: ['ALL', 'all', 3], 2: ['MY', 'my', 2], 3: ['TROUBLES', 'troubles', 8], 4: ['SEEMED', 'seemed', 6], 5: ['SO', 'so', 2], 6: ['FAR', 'far', 3], 7: ['AWAY.', 'away.', 5], 8: ['NOW', 'now', 3], 9: ['IT', 'it', 2], 10: ['LOOKS', 'looks', 5], 11: ['AS', 'as', 2], 12: ['THOUGH', 'though', 6], 13: ["THEY'RE", "they're", 7], 14: ['HERE', 'here', 4], 15: ['TO', 'to', 2], 16: ['STAY.', 'stay.', 5], 17: ['OH,', 'oh,', 3], 18: ['I', 'i', 1], 19: ['BELIEVE', 'believe', 7], 20: ['IN', 'in', 2], 21: ['YESTERDAY.', 'yesterday.', 10], 22: ['SUDDENLY', 'suddenly', 8], 23: ["I'M", "i'm", 3], 24: ['NOT', 'not', 3], 25: ['HALF', 'half', 4], 26: ['THE', 'the', 3], 27: ['MAN', 'man', 3], 28: ['I', 'i', 1], 29: ['USED', 'used', 4], 30: ['TO', 'to', 2], 31: ['BE.', 'be.', 3], 32: ["THERE'S", "there's", 7], 33: ['A', 'a', 1], 34: ['SHADOW', 'shadow', 6], 35: ['HANGING', 'hanging', 7], 36: ['OVER', 'over', 4], 37: ['ME.', 'me.', 3], 38: ['OH,', 'oh,', 3], 39: ['YESTERDAY', 'yesterday', 9], 40: ['CAME', 'came', 4], 41: ['SUDDENLY.', 'suddenly.', 9], 42: ['WHY', 'why', 3], 43: ['SHE', 'she', 3], 44: ['HAD', 'had', 3], 45: ['TO', 'to', 2], 46: ['GO,', 'go,', 3], 47: ['I', 'i', 1], 48: ["DON'T", "don't", 5], 49: ['KNOW,', 'know,', 5], 50: ['SHE', 'she', 3], 51: ["WOULDN'T", "wouldn't", 8], 52: ['SAY.', 'say.', 4], 53: ['I', 'i', 1], 54: ['SAID', 'said', 4], 55: ['SOMETHING', 'something', 9], 56: ['WRONG,', 'wrong,', 6], 57: ['NOW', 'now', 3], 58: ['I', 'i', 1], 59: ['LONG', 'long', 4], 60: ['FOR', 'for', 3], 61: ['YESTERDAY.', 'yesterday.', 10], 62: ['YESTERDAY', 'yesterday', 9], 63: ['LOVE', 'love', 4], 64: ['WAS', 'was', 3], 65: ['SUCH', 'such', 4], 66: ['AN', 'an', 2], 67: ['EASY', 'easy', 4], 68: ['GAME', 'game', 4], 69: ['TO', 'to', 2], 70: ['PLAY.', 'play.', 5], 71: ['NOW', 'now', 3], 72: ['I', 'i', 1], 73: ['NEED', 'need', 4], 74: ['A', 'a', 1], 75: ['PLACE', 'place', 5], 76: ['TO', 'to', 2], 77: ['HIDE', 'hide', 4], 78: ['AWAY.', 'away.', 5], 79: ['OH,', 'oh,', 3], 80: ['I', 'i', 1], 81: ['BELIEVE', 'believe', 7], 82: ['IN', 'in', 2], 83: ['YESTERDAY.', 'yesterday.', 10], 84: ['WHY', 'why', 3], 85: ['SHE', 'she', 3], 86: ['HAD', 'had', 3], 87: ['TO', 'to', 2], 88: ['GO,', 'go,', 3], 89: ['I', 'i', 1], 90: ["DON'T", "don't", 5], 91: ['KNOW,', 'know,', 5], 92: ['SHE', 'she', 3], 93: ["WOULDN'T", "wouldn't", 8], 94: ['SAY.', 'say.', 4], 95: ['I', 'i', 1], 96: ['SAID', 'said', 4], 97: ['SOMETHING', 'something', 9], 98: ['WRONG,', 'wrong,', 6], 99: ['NOW', 'now', 3], 100: ['I', 'i', 1], 101: ['LONG', 'long', 4], 102: ['FOR', 'for', 3], 103: ['YESTERDAY.', 'yesterday.', 10], 104: ['YESTERDAY', 'yesterday', 9], 105: ['LOVE', 'love', 4], 106: ['WAS', 'was', 3], 107: ['SUCH', 'such', 4], 108: ['AN', 'an', 2], 109: ['EASY', 'easy', 4], 110: ['GAME', 'game', 4], 111: ['TO', 'to', 2], 112: ['PLAY.', 'play.', 5], 113: ['NOW', 'now', 3], 114: ['I', 'i', 1], 115: ['NEED', 'need', 4], 116: ['A', 'a', 1], 117: ['PLACE', 'place', 5], 118: ['TO', 'to', 2], 119: ['HIDE', 'hide', 4], 120: ['AWAY.', 'away.', 5], 121: ['OH,', 'oh,', 3], 122: ['I', 'i', 1], 123: ['BELIEVE', 'believe', 7], 124: ['IN', 'in', 2], 125: ['YESTERDAY.', 'yesterday.', 10], 126: ['MM', 'mm', 2], 127: ['MM', 'mm', 2], 128: ['MM', 'mm', 2], 129: ['MM', 'mm', 2], 130: ['MM', 'mm', 2], 131: ['MM', 'mm', 2], 132: ['MM', 'mm', 2]}

# enumerate() 함수: 리스트의 값을 추출할 때 인덱스를 붙여 함께 출력하는 방법

In [ ]:
tt = 'python is fun'
t = tt.split()
print(t)

['python', 'is', 'fun']

In [ ]:
for i in enumerate(t):
    print(i)

(0, 'python')
(1, 'is')
(2, 'fun')

In [ ]:
for i,v in enumerate(t):
    print(i,v)

0 python
1 is
2 fun

In [ ]:
tt = 'python is fun fun fun'
t = tt.split()
print(t)

['python', 'is', 'fun', 'fun', 'fun']

In [ ]:
d = {i:v for i,v in enumerate(t)}
print(d)                          #키: 숫자, 문자열, 튜플만 가능?

{0: 'python', 1: 'is', 2: 'fun', 3: 'fun', 4: 'fun'}

In [ ]:
nameList = ['김민재','손흥민','황희찬']
backList = [4,7,11,10]
for n, b in zip(nameList,backList):
    print(n,b)

#개수가 안 맞아도 오류는 안 남.

김민재 4
손흥민 7
황희찬 11

In [ ]:
nameList = ['김민재','손흥민','황희찬']
backList = [4,7,11,10]
for n in zip(nameList,backList):
    print(n)
    # 변수를 하나로만 지정하면 튜플 형태로 나옴

('김민재', 4)
('손흥민', 7)
('황희찬', 11)

In [ ]:
nameList = ['김민재','손흥민','황희찬']
backList = [4,7,11,10]
for i, (n,b) in enumerate(zip(nameList,backList)):
    print(i,n,b)

0 김민재 4
1 손흥민 7
2 황희찬 11

In [ ]:
t1 = (1,2,3)
t2 = (10,20,30)
t3 = (100,200,300)
h = [x for x in zip(t1,t2,t3)]
print(h)

[(1, 10, 100), (2, 20, 200), (3, 30, 300)]

In [ ]:
t1 = (1,2,3)
t2 = (10,20,30)
t3 = (100,200,300)
hap = [sum(x) for x in zip(t1,t2,t3)]
print(hap)

[111, 222, 333]

In [ ]:
t1 = (1,2,3)
t2 = (10,20,30)
t3 = (100,200,300)
mx = [max(x) for x in zip(t1,t2,t3)]
print(mx)

[100, 200, 300]

In [ ]:
t1 = (1,2,3)
t2 = (10,20,30)
t3 = (100,200,300)
mn = [min(x) for x in zip(t1,t2,t3)]
print(mn)

[1, 2, 3]

In [ ]:
avg = [sum(x)/3 for x in zip(t1,t2,t3)]
print(avg)                                #이런거 퀴즈나 중간고사에 나옴

[37.0, 74.0, 111.0]

# 클래스

In [ ]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('선수의 등번호를 변경한다: From %d to %d'%(self.back_number,new_number))
        self.back_number = new_number

jin = SoccerPlayer('Jinhyun','MF',10)
son = SoccerPlayer('Min','Mf',7)
print('첫 번째 선수의 등번호는:', jin.back_number)
print('두 번째 선수의 등번호는',son.back_number)

첫 번째 선수의 등번호는: 10
두 번째 선수의 등번호는 7

In [ ]:
jin.change_back_number(5)

선수의 등번호를 변경한다: From 10 to 5

In [ ]:
print('첫 번째 선수의 현재 등번호는',jin.back_number)

첫 번째 선수의 현재 등번호는 5

In [ ]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('선수의 등번호를 변경한다: From %d to %d'%(self.back_number,new_number))
        self.back_number = new_number

    def __str__(self):
        return 'Hello, My name is %s. I play in %s in center.'%(self.name, self.position)

jin = SoccerPlayer('Jinhyun','MF',10)
print(jin)

Hello, My name is Jinhyun. I play in MF in center.